ul.d1ul{
    width: 400px;
}
ul.d2ul{
    transition: 1s;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    background-color: white;
    z-index: 111;
    margin: 0 -1px;
}
ul.d1ul .d1li{
    height: 30px;
    padding: 20px 7px;
}
ul.d1ul:hover ul.d2ul{
    height: 150px;
}
ul.d1ul li.d1li a:hover{
    background-color: black;
    color: white !important;
}
ul.d2ul li a:hover{
    background-color: black;
    color: white !important;
}
.noticeBox,
.galleryBox{
    width: 90px;
}



.noticeBox ul,
.galleryBox .gallery{
    left: 0;
    right: 0;
    display: none;
}
.galleryBox .gallery,
.noticeul{
padding: 1.5rem 0;
}

.noticeBox.on ul,
.galleryBox.on .gallery{
    display: block;
}
.noticeul li{
    margin: 7px 0;
}

.noticeBox ul a{
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 250px;
    overflow: hidden;
}

.gallery img{
    width: 120px;
    height: 120px;
}

.notice,
.galleryBox>a{
    display: block;
    line-height: 30px;
    padding-top: 20px;
}

